/* Body Styles */

/* Header Logo Styles */
.skin-blue .main-header .logo {
    background-color: #3A6B34;
}

.skin-blue .main-header .logo:hover {
  background-color: #3A6B34;
}

/* Header Navbar Styles */
.skin-blue .main-header .navbar {
    background-color: #3A6B34;
}

/* Sidebar Styles */
.skin-blue .main-sidebar {
    background-color: #CBD18F;
}

/* Change color of the sidebar toggle */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #3A6B34; /* Change to the desired color for sidebar toggle hover */
}

/* Sidebar Menu Hover Effect Styles */
.skin-blue .main-sidebar .sidebar-menu>li:hover>a,
.skin-blue .main-sidebar .sidebar-menu>li.active>a {
    background-color: #dbdfb1 !important;
    color: #fff;
    border-left-color: #fff;
}

/* Sidebar Text Color Styles */
.skin-blue .main-sidebar .sidebar-menu>li>a {
    color: white !important;
}

/* TabBox Colour Styles */
.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #CBD18F;
}

/* Box Colour Styles */
.box.box-solid.box-danger{
    border-bottom-color: #CBD18F;
    border-left-color: #CBD18F;
    border-right-color: #CBD18F;
    border-top-color: #CBD18F;
}
                    
/* Content Wrapper Styles */
.content-wrapper,
.right-side {
    overflow: auto;
    max-height: 100vh;
}

/* DataTable Styles */
table.dataTable tbody tr.selected {
    pointer-events: none;
}

/* Heading Styles */
h4 {
    font-weight: bold;
}

/* HTML and Body Styles */
html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Layout Styles for About page */

/* Landing Wrapper Styles */
.landing-wrapper {}

.landing-wrapper .landing-block {
    width: 100%;
}

.landing-wrapper .background-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0.25%;
    grid-column-gap: 0.25%;
}

.landing-wrapper .background-content img {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.landing-wrapper .foreground-content {
    position: fixed;
    top: 40%;
    z-index: 9000;
    display: flex;
    left: 33%;
}

.landing-wrapper .foreground-content .foreground-text {
    width: 50%;
    padding: 2.5%;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

/* Layout Record Finder Styles */

/* Landing Wrapper Record Styles */
.landing-wrapper-record {}

.landing-wrapper-record .landing-block {
    width: 100%;
}

.landing-wrapper-record .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.landing-wrapper-record .image-gallery ul {
    margin: 0;
    padding: 0;
}

.landing-wrapper-record .image-gallery li {
    flex: 1 1 auto;
    height: 300px;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.landing-wrapper-record .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.landing-wrapper-record .foreground-content {
    position: fixed;
    top: 15%;
    z-index: 9998;
    display: flex;
    left: 40%;
    width: 150%;
}

.landing-wrapper-record .foreground-content .foreground-text {
    width: 25%;
    padding: 2.5%;
    color: black;
    background-color: white;
    border-radius: 5px;
}


